.rightbarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;

  .rightbarProfileImgContainer {
    position: relative;
    margin-right: 15px;

    .rightbarProfileImg {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
    }

    .rightbarOnline {
      position: absolute;
      background-color: limegreen;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      top: -6px;
      right: -6px;
      border: 2px solid #fff;
    }
  }

  .rightbarUsername {
    font-weight: 600;
    color: #333;
  }
}
