@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

$primary__color: #191d2b;
$secondary__color: #27ae60;
$white__color: #fff;
$black__color: #000;
$gray0__color: #f8f8f8;
$gray1__color: #dbe1e8;
$gray2__color: #b2becd;
$gray3__color: #6c7983;
$gray4__color: #454e56;
$gray5__color: #2a2e35;
$gray6__color: #12181b;
$box__shadow: 0 3px 15px rgba(0, 0, 0, 0.3);

// light-mode

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: $primary__color;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  
}
